body{
  box-sizing: border-box;
  width: 100%;
}

header{
  background-color: grey;
  height:75px;
  width: 100%;
  display: flex;
}
.padding-big-box{
  padding: 30px;
}
.padding-small-box{
  padding: 10px;
}

h1{
  text-align: center;
}

.floatL{
  /*float: left;*/
  color: white;
  margin: 30px;
  /*padding: 30px;*/
}
.flexbox-container {
	display: flex;
}

.grey-box{
  width: auto;
  height: 200px;
  background-color: grey;
}

footer{
  height: 100px;
  width: 100%;
  background-color: grey;
}
